.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-flat-avatar {
  display: flex;
  align-items: center;
}

.header-flat-description {
  width: 230px;
  margin-right: 25px;
  margin-left: 15px;
  margin-bottom: 15px;
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
  }
}


.img-resize{
  padding-top: 15px;
  img {
    width: 80px;
  }

  p {
    font-size: 15px;
  }

}

